@import "./lib/styles/_keyframe-animations.scss";
@import "./lib/styles/_variables.scss";

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  line-height: 1.5;
  font-family: "Rawline Medium", sans-serif;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Rawline Bold", sans-serif;
}

h3,
h4 {
  font-family: "Rawline Medium", sans-serif;
}

.font-bold {
  font-family: "Rawline ExtraBold", sans-serif;
  color: #103759;
}

.font-light {
  font-family: "Rawline Light", sans-serif;
}

strong {
  font-family: "Rawline Bold", sans-serif;
}

.italic {
  font-family: "Rawline SemiBold Italic";
}

.scrollbar::-webkit-scrollbar-thumb {
  background-color: var(--scroll-thumb-color, #a0aec0);
  border-radius: 9999px;
}

.scrollbar::-webkit-scrollbar-thumb:hover {
  background-color: var(--scroll-thumb-color, #a0aec0);
}

.scrollbar::-webkit-scrollbar {
  width: 8px;
}

.scrollbar::-webkit-scrollbar-thumb {
  height: 50px;
  background-color: var(--scroll-thumb-color, #a0aec0);
  border-radius: 9999px;
}

.scrollbar::-webkit-scrollbar-track {
  background: transparent;
}

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 20 14.3% 4.1%;
    --card: 0 0% 100%;
    --card-foreground: 20 14.3% 4.1%;
    --popover: 0 0% 100%;
    --popover-foreground: 20 14.3% 4.1%;
    --primary: 16 55 89;
    --primary-foreground: 222.2 47.4% 11.2%;
    --secondary-foreground: 222.2 47.4% 11.2%;
    --muted: 60 4.8% 95.9%;
    --muted-foreground: 25 5.3% 44.7%;
    --accent: 60 4.8% 95.9%;
    --accent-foreground: 24 9.8% 10%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 60 9.1% 97.8%;
    --border: 20 5.9% 90%;
    --input: 20 5.9% 90%;
    --ring: 16 55 89;
    --radius: 0.5rem;
  }
}

@layer components {
}

html,
body {
  height: 100%;
  overflow-y: auto !important;
}
