@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 500;
  font-family: "Raleway", sans-serif;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  padding: 1rem;
}

.light {
  background-color: #fafaf9;
}

.dark {
  background-color: #0c0a09;
  color: #fafaf9;
}

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 20 14.3% 4.1%;
    --card: 0 0% 100%;
    --card-foreground: 20 14.3% 4.1%;
    --popover: 0 0% 100%;
    --popover-foreground: 20 14.3% 4.1%;
    --primary: 16 55 89;
    --primary-foreground: 222.2 47.4% 11.2%;
    --secondary: 210 40% 96.1%;
    --secondary-foreground: 222.2 47.4% 11.2%;
    --muted: 60 4.8% 95.9%;
    --muted-foreground: 25 5.3% 44.7%;
    --accent: 60 4.8% 95.9%;
    --accent-foreground: 24 9.8% 10%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 60 9.1% 97.8%;
    --border: 20 5.9% 90%;
    --input: 20 5.9% 90%;
    --ring: 16 55 89;
    --radius: 0.5rem;
  }
}

#conclusao {
  thead {
    width: 100%;
  }

  th {
    text-align: center;
    width: 33.333%;
  }
}

@layer components {
}

/* Estilos específicos para impressão */
@media print {
  /* Oculta tudo que não for .printable */
  * {
    visibility: hidden;
  }
  /* Exibe apenas elementos com a classe .printable */
  .printable,
  .printable * {
    visibility: visible;
  }

  /* Posiciona o .printable no topo da página para impressão */
  .printable {
    position: absolute;
    left: 0;
    top: 0;
  }
}
